<div id="team" class="team cta-team-outer">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="cta-team-inner">
                    <h1 class="wow fadeInDown" data-wow-delay="0.1s">
                        Our Awesome Team
                    </h1>
                    <div class="at-grid" data-column="3" data-wow-delay="0.2s">
                        <% for (let i = 0; i < teamMembers.length; i++) { if
                        ([49,5,6,20,46].includes(teamMembers[i]['id'])) { %>
                            <div class="at-column">
                                <div class="at-user">
                                    <div class="at-user__avatar">
                                        <img src="<%= teamMembers[i]['picture'] %>" />
                                    </div>
                                    <div class="at-user__name">
                                        <%= teamMembers[i]['firstName'] %>
                                            <%=
                                    teamMembers[i]['lastName'] %>
                                    </div>

                                    <ul class="at-social">
                                        <%
                                    Object.keys(teamMembers[i]['socialHandles']).forEach(function(key)
                                    { if (key && key=='discord') { %>
                                            <li class="at-social__item">
                                                <a href="<%= socialAccounts[key]['baseUrl'] %>"><i
                                                class="fa <%= socialAccounts[key]['iconClass'] %>"
                                                aria-hidden="true"
                                            >
                                                @<%=
                                                teamMembers[i]['socialHandles'][key]
                                                %></i
                                            ></a
                                        >
                                    </li>
                                    <% } else { %>
                                    <li class="at-social__item">
                                        <a
                                            href="<%= socialAccounts[key]['baseUrl']
                                            %><%= teamMembers[i]['socialHandles'][key] %>"
                                            ><i
                                                class="fa <%= socialAccounts[key]['iconClass'] %>"
                                                aria-hidden="true"
                                            ></i
                                        ></a>
                                            </li>

                                            <% }}); %>
                                    </ul>
                                </div>
                            </div>
                            <% }} %>
                    </div>
                    <a class="btn btn-action btn-gplus wow fadeInDown" href="/team"><span></span> <span>See All</span></a
                    >
                </div>
            </div>
        </div>
    </div>
</div>